@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');

$font: 'Rubik Pixels', cursive;

*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

#main {
    font-size: 2.5em;
    text-align: center;
    font-family: $font;
}