@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik+Pixels&display=swap');

$font1: 'Rubik Pixels', cursive;
$font2: 'Roboto Mono', monospace;

*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

#main, #go, #stages, #label {
    text-align: center;
    font-family: $font2;
}

#main {
    font-size: 4em;
    font-family: $font1;
}

#go {
    font-size: 2.5em;
}

#stages {
    font-size: 2em;
}

#label {
    font-size: 2.8em;
}

.flex {
    display: flex;
    justify-content: center;
}