@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

.title {
    -fx-font-family: 'Silkscreen', cursive;
    -fx-font-weight: 700;
    -fx-font-size: 6em;
    -fx-effect: dropshadow(gaussian, #d1d1d1, 5, 0.1, 6.0, 0.0);
    -fx-opacity: 1;
}

.title_container {
    -fx-max-width: 200px;
    -fx-max-height: 70px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 80px;
    -fx-padding: 20px 40px;
    -fx-opacity: 0.97;
    -fx-effect: dropshadow(gaussian, #fafafa, 7, 0.1, 0.0, 0.0);
}

.menu_buttons {
    -fx-background-color: #fafafa;
    -fx-font-weight: 400;
    -fx-font-family: 'Silkscreen', cursive;
    -fx-max-width: 450px;
    -fx-max-height: 80px;
    -fx-font-size: 3em;
    -fx-background-radius: 80px;
    -fx-effect: dropshadow(gaussian, #fafafa, 7, 0.7, 0.0, 0.0);
}

.menu_buttons:hover {
    -fx-effect: dropshadow(gaussian, #fafafa, 7, 0.2, 0.0, 0.0);
    -fx-translateY: -8px;
    -fx-scale-y: 0.99;
    -fx-scale-x: 0.99;
}

.background {
    -fx-background-color: #0167a2;
}

#settings {
    -fx-padding: 100px 0 0 100px;
    -fx-max-width: 1000px;
    -fx-max-height: 700px;
    -fx-background-color: #111111;
    -fx-opacity: 0.6;
    -fx-background-radius: 80px;
    -fx-padding: 20px 40px;
    -fx-effect: dropshadow(gaussian, #000000, 5, 0.1, 0.0, 0.0);
}

#harp {
    -fx-max-width: 800px;
    -fx-image: url('assets/background/harp.JPG');
}

.dropdown {
    -fx-font-family: 'Electrolize', sans-serif;
    -fx-width: 300px;
    -fx-font-size: 2em;
    -fx-background-color: #fafafa;
}

.labels {
    -fx-font-family: 'Electrolize', sans-serif;
    -fx-fill: #fafafa;
    -fx-font-size: 2.4em;
}

.info {
    -fx-font-family: 'Electrolize', sans-serif;
    -fx-fill: #000000;
    -fx-font-size: 2.4em;
}

#playerInfo {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, #000000, 5, 0.1, 0.0, 0.0);
}